
#mainNavbar {
    padding: inherit;
    height: 70px;
  }
div#navLinks {
    padding-left: 215px;
  }
.loglog{
    width: 70px;
    margin-top: 10px;
    margin-left: 30px;
  }
li.nav-item {
    margin: 0px 24px 0em 6px;
    font-size: unset;
    font-family: initial;
  }
.nav-link{
    color:black;
  }
.btn-md{
    font-family: arial;
    font-size: 13px;
    margin-inline-end: 59px;
    border: 2px solid transparent;
    padding: 0.375rem 66.75px;
    border-radius: 0.45rem;
    background-color: #2699FB;
  }


.image-fixe{
  height: 450px;
  width: 100%;
  margin-top: 70px;
}
img.overlay-image {
    margin-left: 30%;
    margin-top: -420px;
    margin-bottom: 120px;
    height: 220px;
    width: 460px;
}
.overlay-text{
  top: 26%;
  right: 37%;
  position: absolute;
  left: 31%;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: Arial;
}
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / -0.7);
  }
.btn-md1{
    font-weight: bold;
    color: black;
    font-family: arial;
    font-size: 14px;
    margin-inline-end: 25px;
    border: revert;
    padding: 0.375rem 77.75px;
    border-radius: 1.45rem;
    background-color: #F8F8F8;
  }
  .element-table{
    font-size: 18px;
    margin-left: 15px;
  }
  .excepteur-text{
    margin-right: 25%;
    margin-left: 15px;
    font-family: arial;
    font-size: small;
  }
  hr{
    margin-left: inherit;
    width: 80%;
    margin-top: -12px;
  }
  /*footer*/
.footer-bottom{
    margin-top: 50px;
    background:#3677E9 ;
  }
  .footer-table{
    margin: 0px 0px 0px 150px;
    height: 300px;
  }
  .foot-parag {
    margin: 20px 0px;
  }
  .footer-text{
    margin: 0 auto;
      font-family: exo 2;
      font-size: small;
      color: #ffffff;
      padding-left: inherit;
  }
  .envoi-email{
    margin-left: 10px;
    margin-bottom: 0rem;
    color: #ffffff;
    font-family: exo 2;
    text-align: left;
    font-size: 54%;
  }
  span#basic-addon2 {
    background-color: #FFD235;
    color: white;
  }
  .mb-3{
    width: fit-content; 
    text-align: left;
  }
  .icon-insta{
    width: 30px;
    margin: auto 10px;
  }
  .footer-right{
    text-align: right;
    padding-inline-end: 30px;
  }
  .footer-right-text{
    margin: 0 auto;
    text-align: right;
    padding-inline-start: 225px;
    font-size: small;
    font-family: exo 2;
    color: white;
  }